@font-face {
    font-family: 'Titillium';
    src: url('/Titillium/Titillium-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium-light';
    src: url('/Titillium/Titillium-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    text-align: left;
    overflow: hidden;
}

.table th, .table td {
    padding: 1.25rem;
}

.table th {
    background-color: rgb(255 255 255);
    color: #000000;
    font-family: 'Titillium', sans-serif;
}

.table tbody td {
    color: #000000;
    font-family: 'Titillium-light', sans-serif;
}